.App {
  text-align: center;
}

.App-header {

  background-image: url(./BG.jpg);
  display: flex;
  align-items: unset;

 
}



.BG{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(231, 255, 255);
  min-height: 100vh;
}

.Rak {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);

  
}
.NA{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./NA.jpg);
  min-height: 100vh;
}

.App-link {
  color: #000000;
}


.table {
  background-color: #ccffd7;
  font-family: sans-serif;
  text-align: center;
  background: #feffffc0;


}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
